---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
	main {
		padding-top: 10px;
		padding-left: 60px;
	}
	h2,
	p {
		margin: 0;
		padding: 0;
	}
	.skills {
		margin: 0;
		list-style-type: disc;
	}

	#name {
		margin-top: 10px;
	}
</style>

<Layout>
	<main>
		<Nav />
		<div>
			<h2 id="name">Kishmat Bhattarai</h2>
			<p>Crafter on my own</p>
			<h4>Skills</h4>
			<ul class="skills">
				<li>Python, Typescript, C#, Rust and Other languages</li>
				<li>Docker (deployment, development & more)</li>
				<li>Machine Learning and some keras</li>
				<li>Writes , Reads and Watches stuffs</li>
			</ul>

			<h4>Highlighted Projects</h4>
			<ul class="skills">
				<li>
					<a href="https://github.com/0xmatriksh/meroshare-bot"
						>Meroshare Bot</a
					>: Automation program to apply IPO
				</li>
				<li>
					<a href="https://github.com/0xmatriksh/flyer">Flyer</a>:
					ML/NLP integration Flask app to read posts/discussion on
					different categories
				</li>
				<li>
					<a style="pointer:none" href="">Ramro Books</a>: Site for
					buying books with payment integration in ASP.NET Core
				</li>
				<li>
					<a href="https://github.com/0xmatriksh/resto-app"
						>Resturant Website</a
					>: Website for a resturant in Django
				</li>
				<li>
					<a href=""> IPO Nepse Alert</a>: A telegram bot for getting
					alerts in IPO listed in NEPSE
				</li>
			</ul>
			<h4>Quick Links</h4>
			<ul>
				<li>
					<a href="https://github.com/0xmatriksh">Github</a>
				</li>
				<li>
					<a href="https://twitter.com/spdiLf">Twitter</a>
				</li>
				<li>
					<a href="https://data-folks.masto.host/@kishmat">Mastodon</a
					>
				</li>
			</ul>
		</div>
	</main>
</Layout>
