---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---
<style>
    main {
        padding-top: 10px;
        padding-left: 60px;
    }
    li{
        margin: 10px;
        font-size: 18px;
    }
    .posts{
        color:black
    }

</style>

<Layout>
    <main>
        <Nav />
        <h2>0xmatriksh's Micro Blog</h2>
        <div>
            <ul >
                <li><a class="posts" href="/posts/macro/">Macros</a></li>
                <li><a class="posts" href="/posts/pointers-in-go/">Pointers in Go</a></li>
                <li><a class="posts" href="/posts/django-concurrency/">Django Supports Concurrency</a></li>
                <li><a class="posts" href="/posts/post-2/">Future Post</a></li>
                <li><a class="posts" href="/posts/post-3/">Post Does Not Exist</a></li>
              </ul>
        </div>
    </main>
</Layout>