---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---
<style>
    main {
        padding-top: 10px;
        padding-left: 60px;
    }
</style>

<Layout>
    <main>
        <Nav />
        <h2>My Tools</h2>

        <h4> Softwares </h4>
        <ul>
            <li>OS = <a href="https://linuxmint.com/download.php" target="_blank">Mint</a> (which is based on Ubuntu (which is based on Debian))</li>
            <li> DE = Cinnamon</li>
            <li> IDE = <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>, (currently learning NeoVim btw)</li>
            <li> Terminal = GNOME Terminal (default)</li>
            <li> Terminal Multiplexer = <a href="https://github.com/tmux/tmux/wiki" target="_blank">tmux</a></li>
            <li> Browser =  <a href="https://brave.com/download" target="_blank">Brave</a> (mostly)</li>
        </ul>

        <h4> Additionals </h4>
        <ul>
            <li>Font (Terminal) = Terminus</li>
            <li> Font (Code) = Input</li>
        </ul>
    </main>

        
        



