<style>
    .navbar {
        display: flex;
    }
    .navbar a {
        color: black;
        margin-right: 5px;
        margin-left: 5px;
    }
</style>

<nav>
    <div class="navbar">
        <a href="/">Home</a> -
        <a href="https://www.kishmatbhattarai.info.np">Blog</a> -
        <a href="/contact">Contact</a> -
        <a href="https://medium.com/@0xmatriksh">Medium</a>
    </div>
</nav>
