<style>
    @import url("https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap");

    * {
        background-color: antiquewhite;
        font-family: "K2D", sans-serif;
    }
</style>

<html>
    <head>
        <title>Kishmat Portfolio</title>
    </head>
    <body>
        <slot />
        <hr />
        <footer>
            <blockquote>
                "Copyright 2023 Kishmat Bhattarai (0xmatriksh). Any and all
                opinions listed here are my own and not representative of my <br
                />
                employers; future, past and present."
            </blockquote>
        </footer>
    </body>
</html>
